body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    color: #333;
}

.container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.add-btn {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.form-style {
    display: none;
    margin-top: 20px;
}

.form-style input {
    padding: 10px;
    margin: 10px 0;
    border: 2px solid #ccc;
    border-radius: 4px;
    display: block;
    width: 95%;
}

.add-event-btn {
    background-color: #008CBA;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
}

.event-card {
    background: #ffffff;
    border: 1px solid #dddddd;
    margin-top: 20px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.event-card button {
    background-color: #e91e63;
    color: white;
    border: none;
    padding: 10px 15px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    float: right;
}
